<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="server-settings" type="PdfConversion.Server.ConsoleServer.ServerConfiguration,&#xD;&#xA;                                                    PdfConversion.Server.ConsoleServer" />
  </configSections>
  <server-settings author="Oce Group" 
                   title-prefix="convFile" 
                   temporaryFolderPath="C:\Blackboard\temp\" 
                   sharedFolderPath="C:\Blackboard\" 
                   threads="6" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>